@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

/*BODY*/
body { width: 100%; height: 100%; } 
body{
    background: #add8e6 ;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    outline: none;
    list-style-type: none;
    justify-content: none;


  }

.navbar{
    justify-content: space-around;
}

.navbar li a{
    text-decoration: none;  
}



.logo a{
    font-family: 'Allura', cursive;
    font-size: 3em;
    color: blue;
    display: flex;
    text-decoration: none;
    margin-left: 5%;
}



.navbar ul{
    display: flex;
    }

.navbar ul li{
    text-transform: uppercase;
    margin: 0 10px;
    list-style-type: none;
    display: flex;
    font-size: 1.2em;
}

.navbar ul li a{
    color: #286086;
}





.navbar ul li a:hover{
    color: blue;
}

.Pictures h1{
    text-align: center;
    color: blue;
    font-size: 50px;
    float:none;
    padding:0;
    margin:0;
    margin-top:20px;
}

.column {
  
    width: 33.33%;
    display: inline-block;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    color:white;
   
    
    
  
  }
  
  /* clear floats */
  .row::after {
    content: "";
    
    display: inline-block;
    
  }
  
  .row{
      text-align: center;
  }
  
  
  p{
      margin-top: 0%;
  }

  .favimg{
      font-size: 2em;
      color:orange;
  }

 

  #Pictures-text{
      color:whitesmoke;
      font-size:20px;
  }

  img{
      padding-top:20px;
  }


  #Pictures-text li{
      text-decoration: underline;
  }

  #Pictures-text ol li{

      list-style-type: inside;
      margin-left:200px;
      text-decoration: none;
      font-size:2em;
  }

